In [1]:
import itertools

In [2]:
#1 - Exemplo Range()
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
#2 - Iterar Listas
frutas =["maçã","laranja","abacaxi","banana","melão"]
for fruta in frutas:
    print(fruta)

maçã
laranja
abacaxi
banana
melão

In [8]:
#3 - Iterar Dicionário
pessoa = {'Nome':'Alice','idade':33}
for chave in pessoa:
    print(chave, pessoa[chave])

Nome Alice
idade 33

In [9]:
#4 - Enumerate()
for indice, fruta in enumerate(frutas):
    print(indice,fruta)

0 maçã
1 laranja
2 abacaxi
3 banana
4 melão

In [10]:
#5 - Zip()
nomes = ['João', 'Ana', 'Marcelo', 'Beatriz']
idades = [20,30,29,22]

for nome, idade in zip(nomes, idades):
    print(nome, idade)

João 20
Ana 30
Marcelo 29
Beatriz 22

In [11]:
#6 - Itertools
for i in itertools.count(start=10, step=2):#começa com 10 e pula de dois em dois números até chegar ao 20
    if i > 20:
        break
    print(i)

10
12
14
16
18
20